.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
}
h1{
    text-align: center;
    margin: 25px;
    font-size: 40px;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myInput{
    padding: 10px;
    margin: 10px;
    width: 35%;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

.btn{
    border: 2px solid black;
    background-color: red;
    color: white;
    margin: 20px;
    padding: 10px 70px;
    font-size: 17px;
    border-radius: 10px;
}